<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light"> Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/vinicius.cardoso.94214" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/vinicius-cardoso-743820157/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/viniciuscsf1" target="_blank" class="icoGithub">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">© 2021 Copyright: </span>
        <a class= "text-light" target="_blank" href="https://brazil.generation.org/">brazil.generation.org</a>
    </div>


</footer>
